<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Elvenware Project Flow Layout Buttons</title>
</head>
<body>
<p><img src="../../images/Elvenwarelogo.png"><br>
</p>
<p> <strong>Project: </strong>FlowLayoutButtons<br>
  <strong>Author: </strong><a href="http://www.elvenware.com/charlie">Charlie
  Calvert</a><br>
  <strong>Company: </strong><a href="http://www.elvenware.com">Elvenware</a><br>
  <strong>Help: </strong><a href="../../index.html">index.html</a><br>
  <strong>Personal Edition: </strong>true<br>
</p>
<hr>
<h2>FlowLayoutButtons</h2>
<p>This program can be found in Chapter 12, Layout Managers.</p>

<applet
  archive  = "FlowLayoutButtonsApplet.jar"
  code     = "flowlayoutbuttons.FlowLayoutButtonsApplet.class"
  name     = "TestApplet"
  width    = "200"
  height   = "25"
  hspace   = "0"
  vspace   = "0"
  align    = "middle"
>
</applet>

</body>
</html>
