<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Elvenware Project Box Layout Right</title>
</head>
<body>
<p><img src="../../images/Elvenwarelogo.png"><br>
</p>
<p> <strong>Project: </strong>BoxLayout Right<br>
  <strong>Author: </strong><a href="http://www.elvenware.com/charlie">Charlie
  Calvert</a><br>
  <strong>Company: </strong><a href="http://www.elvenware.com">Elvenware</a><br>
  <strong>Help: </strong><a href="../../index.html">index.html</a><br>
  <strong>Personal Edition: </strong>False<br>
</p>
<hr>
<h2>BoxLayout02 </h2>
<p>This program is discussed in Chapter 12, Layout Managers. It will not run
in the Personal version of the product because it uses JBCL.</p>

<applet
  code     = "boxlayoutright.BoxLayoutRightApplet.class"
  archive  = "BoxLayoutRightApplet.jar"
  name     = "TestApplet"
  width    = "200"
  height   = "25"
  hspace   = "0"
  vspace   = "0"
  align    = "middle"
>

</applet>
</body>
</html>
