<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Elvenware Project Flow Layout</title>
</head>
<body>
<p><img src="../../images/Elvenwarelogo.png"><br>
</p>
<p> <strong>Project: </strong>FlowLayoutRight<br>
  <strong>Author: </strong><a href="http://www.elvenware.com/charlie">Charlie  Calvert</a><br>
  <strong>Company: </strong><a href="http://www.elvenware.com">Elvenware</a><br>
  <strong>Help: </strong><a href="../../index.html">index.html</a><br>
  <strong>Personal Edition: </strong>false<br>
</p>
<hr>
<h2>FlowLayoutRight</h2>
<p>This program is discussed in Chapter 12 on layout managers. It will not
run in the personal version because it uses JBCL.</p>

<applet
  code     = "flowlayoutright.FlowLayoutRightApplet.class"
  archive  = "FlowLayoutRightApplet.jar"
  name     = "TestApplet"
  width    = "200"
  height   = "25"
  hspace   = "0"
  vspace   = "0"
  align    = "middle"
></applet>

</body>
</html>
