<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Elvenware Project Box Layout</title>
</head>

<body>

<p><img src="../../images/Elvenwarelogo.png"><br></p>

<p>
	<strong>Project: </strong>BoxLayout02<br>
	<strong>Author: </strong><a href="http://www.elvenware.com/charlie">Charlie Calvert</a><br>
	<strong>Company: </strong><a href="http://www.elvenware.com">Elvenware</a><br>
	<strong>Help: </strong><a href="../../index.html">index.html</a><br>
	<strong>Personal Edition: </strong>true<br>
</p>

<hr>

<h2>BoxLayout02</h2>

<p>This program is discussed in Chapter 12, Layout Managers. It shows how to use boxlayout.</p>

<applet
	codebase = "."
	code     = "boxlayout02.BoxLayout02Applet.class"
	name     = "TestApplet"
	archive  = "BoxLayout02Applet.jar"
	width    = "200"
	height   = "35"
	hspace   = "0"
	vspace   = "0"
	align    = "middle"
>
</applet>

</body>
</html>
